{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landing-page">
            {{ content }}

            {% for tech in meta.techs %}
                <a class="{{ tech.class }}" href="{{ base_url }}/technology/{{ tech.class }}">
                <div class="box">
                    <h1> {{ tech.name }} </h1>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>